extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  h1(class="mb-4") Thêm mới tài khoản
  +alert-error(5000)
  +alert-success(5000)

  if(role)
    form(
      action=`${prefixAdmin}/accounts/edit/${data.id}_method=PATCH`
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="fullName") Họ và tên *
        input(
          type="text"
          class="form-control"
          id="fullName"
          name="fullName"
          value=data.fullName
        )

      div(class="form-group")
        label(for="email") Email *
        input(
          type="text"
          class="form-control"
          id="email"
          name="email"
          value=data.email
        )

      div(class="form-group")
        label(for="password") Mật khẩu *
        input(
          type="text"
          class="form-control"
          id="password"
          name="password"
        )

      div(class="form-group")
        label(for="phone") Số điện thoại *
        input(
          type="text"
          class="form-control"
          id="phone"
          name="phone"
          value=data.phone
        )

      div(
        class="form-group"
        upload-image
      )
        label(for="avatar") Ảnh đại diện
        input(
          type="file"
          class="form-control-file"
          id="avatar"
          name="avatar"
          accept="image/*"
        )
        img(
          src=data.avatar
          class="imgage-preview"
          upload-image-preview
        )


      div(class="form-group")
        label(for="role_id") Phân quyền
        select(name="role_id" id="role_id" class="form-control")
          option(disabled) -- Chọn --
          //- each item in role
          //-   option(
          //-     value=item.id
          //-   ) #{item.title}




      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked=(data.status==="active" ? true : false)
        )
        lable(for="statusActive" class="form-check-lable") Hoạt động

      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="inactive"
          checked=(data.status==="inactive" ? true : false)

        )
        lable(for="statusActive" class="form-check-lable") Dừng Hoạt động

      div(class="form-group mt-4")
        button(type="submit" class="btn btn-primary") Cập nhật

  else
    p Vui long tao nhom quyen truoc khi cap nhat tai khoan 
    p 
      a(href=`/${prefixAdmin}/roles/create` class="btn btn-secondary")

